.boton-facebook{
    background: #3B5998;
    color: white;
    outline: none;
}

.boton-facebook:hover {

    background: #37538D;

}

.boton-facebook:active {
    background: #324C82;

}

.boton-facebook:focus {
    outline: none;
}